@using EntityLayer.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "MyApprovalReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>My Approval Reservation</h1>
<table class="Table table-bordered">
    <tr>
        <th>#</th>
        <th>Location</th>
        <th>Person Count</th>
        <th>Reservation Date</th>
        <th>Status</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.ReservationId</td>
            <td>@item.Destination.City</td>
            <td>@item.PersonCount</td>
            <td>@item.ReservationDate</td>
            <td>@item.Status</td>
        </tr>
    }
</table>